dotfiles/.vimbackup/*
dotfiles/.vim/autoload
dotfiles/.vim/plugged
dotfiles/.vim/.netrwhist
dotfiles/.config/fish/completions
dotfiles/.config/fish/conf.d/*
!dotfiles/.config/fish/conf.d/0*_*.fish
dotfiles/.config/fish/fish_plugins
dotfiles/.config/fish/fish_variables
dotfiles/.config/fish/functions/*
!dotfiles/.config/fish/functions/brew-services-all.fish
!dotfiles/.config/fish/functions/dc-clean-rebuild.fish
!dotfiles/.config/fish/functions/gi.fish
!dotfiles/.config/fish/functions/git-clean-branches.fish
